<!DOCTYPE html>
<html>
<head>
    <title>Handlebars Demo</title>
</head>
<body>
  
    <!-- For loop demo -->
    {{#each people}} 
      <h1>{{this}}</h1>
    {{/each}}
    <h1>{{message}}</h1>
</body>
</html>