  <main class="site-main">

    <h1> Request by Get or Post Method  ! ; </h1>

    <div class ="row justify-content-md-center">
      <div calss="col-md-6">
        <h1 class="text-center"> Request by Get Method </h1>
        <form action="http:localhost:5000" method="GET" class="text-center">
          <div class="form-group">
            <label for="name1"> NAME_1: </label><br>
            <input type="text" name="name1" class="form-group"><br>
          </div>
          <div class="form-group">
            <label for="name2"> NAME_2: </label><br>
            <input type="text" name="name2" class="form-group"><br>
          </div>
          <div class="form-group">
            <label for="name3"> NAME_3: </label><br>
            <input type="text" name="name3" class="form-group"><br>
          </div>
          <button type="submit" class="btn btn-primary"> SUBMIT</button><br>
        </form><br>
      </div>
    </div>

    <div class ="row justify-content-md-center">
      <div calss="col-md-6">
        <h1 class="text-center"> Request by Post Method </h1>
        <form action="http:localhost:5000" method="POST" class="text-center">
          <div class="form-group-1">
            <label for="name4"> NAME_4: </label><br>
            <input type="text" name="name4" class="form-group-1"><br>
          </div>
          <div class="form-group">
            <label for="name5"> NAME_5: </label><br>
            <input type="text" name="name5" class="form-group-1"><br>
          </div>
          <div class="form-group">
            <label for="name6"> NAME_6: </label><br>
            <input type="text" name="name6" class="form-group-1"><br>
          </div>
          <button type="submit" class="btn btn-primary"> SUBMIT</button><br><br>
        </form>
      </div>
    </div>

  </main>