<!DOCTYPE html>
<html>
<head>
    <title>Handlebars Demo</title>
</head>
<body>
    
    {{prefix}}
    {{#each people}} 
        {{this.firstName}}
        {{this.lastName}}
    {{/each}}
    
</body>
</html>